version: 1.0
author: codhome.vip
flag: true
user:
  userName: codehome
  age: 18
  forbidden: true
random: 10,20,30
random1:
  user:
    - zhangsao
    - lisi
    - wangwu
spring:
  redis:
    timeout: 5000ms
    lettuce:
      pool:
        max-active: 5
        max-wait: -1
        max-idle: 10
  cache:
    ehcache:
      config: classpath:ehcache.xml
    type: redis
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/springboot?autoReconnect=true&useSSL=false&characterEncoding=utf-8&failOverReadOnly=false&allowPublicKeyRetrieval=true&allowMultiQueries=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    #设置数据库方言
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    #打印sql
    show-sql: true
mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:mappers/*.xml
logging:
  level:
    #包的日志级别
    org.springframework.web: DEBUG
  #自定义log信息
  config: classpath:config/logback-spring.xml
  pattern:
    #控制台的日志输出格式
    console: '%d{yyyy/MM/dd-HH:mm:ss} [%thread] %-5level %logger- %msg%n'
    #文件的日志输出格式
    file: '%d{yyyy/MM/dd-HH:mm} [%thread] %-5level %logger- %msg%n'
  file:
    #日志名称
    name: app.log
    #存储的路径
    path: logs
    #存储的最大值
    max-size: 50MB
    #保存时间
    max-history: 7
---

#配置开发环境
spring:
  profiles: dev
server:
  port: 9000

---

#配置生产环境
spring:
  profiles: prod
server:
  port: 9100
